// Store all the font related configurations
.roboto {
    font-family: 'Roboto', sans-serif;
}

.dm-sans {
    font-family: 'DM Sans', sans-serif;
}

.jetbrains-mono {
    font-family: 'JetBrains Mono', monospace;
}
