pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.codehilite .hll { background-color: #ffffcc }
.codehilite { background: #000000; color: #ffffff }
.codehilite .c { color: #afafd7 } /* Comment */
.codehilite .err { color: #ffffff } /* Error */
.codehilite .esc { color: #ffffff } /* Escape */
.codehilite .g { color: #ffffff } /* Generic */
.codehilite .k { color: #87ffff } /* Keyword */
.codehilite .l { color: #ffffff } /* Literal */
.codehilite .n { color: #ffffff } /* Name */
.codehilite .o { color: #ffffff } /* Operator */
.codehilite .x { color: #ffffff } /* Other */
.codehilite .p { color: #ffffff } /* Punctuation */
.codehilite .ch { color: #afafd7 } /* Comment.Hashbang */
.codehilite .cm { color: #afafd7 } /* Comment.Multiline */
.codehilite .cp { color: #87ffff } /* Comment.Preproc */
.codehilite .cpf { color: #afafd7 } /* Comment.PreprocFile */
.codehilite .c1 { color: #afafd7 } /* Comment.Single */
.codehilite .cs { color: #afafd7 } /* Comment.Special */
.codehilite .gd { color: #ff005f } /* Generic.Deleted */
.codehilite .ge { color: #ffffff; text-decoration: underline } /* Generic.Emph */
.codehilite .gr { color: #ffffff } /* Generic.Error */
.codehilite .gh { color: #ffffff } /* Generic.Heading */
.codehilite .gi { color: #ffffff; background-color: #00ffaf } /* Generic.Inserted */
.codehilite .go { color: #ffffff } /* Generic.Output */
.codehilite .gp { color: #ffffff } /* Generic.Prompt */
.codehilite .gs { color: #ffffff } /* Generic.Strong */
.codehilite .gu { color: #ffffff } /* Generic.Subheading */
.codehilite .gt { color: #ffffff; background-color: #ff00ff } /* Generic.Traceback */
.codehilite .kc { color: #87ffff } /* Keyword.Constant */
.codehilite .kd { color: #87ffff } /* Keyword.Declaration */
.codehilite .kn { color: #87ffff } /* Keyword.Namespace */
.codehilite .kp { color: #87ffff } /* Keyword.Pseudo */
.codehilite .kr { color: #87ffff } /* Keyword.Reserved */
.codehilite .kt { color: #afffd7 } /* Keyword.Type */
.codehilite .ld { color: #ffffff } /* Literal.Date */
.codehilite .m { color: #afffd7 } /* Literal.Number */
.codehilite .s { color: #afffd7 } /* Literal.String */
.codehilite .na { color: #ff87d7 } /* Name.Attribute */
.codehilite .nb { color: #ffffff } /* Name.Builtin */
.codehilite .nc { color: #ff87d7 } /* Name.Class */
.codehilite .no { color: #afffd7 } /* Name.Constant */
.codehilite .nd { color: #ffffff } /* Name.Decorator */
.codehilite .ni { color: #ff87d7 } /* Name.Entity */
.codehilite .ne { color: #ffffff } /* Name.Exception */
.codehilite .nf { color: #ff87d7 } /* Name.Function */
.codehilite .nl { color: #87ffff } /* Name.Label */
.codehilite .nn { color: #ffffff } /* Name.Namespace */
.codehilite .nx { color: #ffffff } /* Name.Other */
.codehilite .py { color: #ffffff } /* Name.Property */
.codehilite .nt { color: #87ffff } /* Name.Tag */
.codehilite .nv { color: #ff87d7 } /* Name.Variable */
.codehilite .ow { color: #ffafd7 } /* Operator.Word */
.codehilite .w { color: #ffffff } /* Text.Whitespace */
.codehilite .mb { color: #afffd7 } /* Literal.Number.Bin */
.codehilite .mf { color: #d7afff } /* Literal.Number.Float */
.codehilite .mh { color: #afffd7 } /* Literal.Number.Hex */
.codehilite .mi { color: #afffd7 } /* Literal.Number.Integer */
.codehilite .mo { color: #afffd7 } /* Literal.Number.Oct */
.codehilite .sa { color: #afffd7 } /* Literal.String.Affix */
.codehilite .sb { color: #afffd7 } /* Literal.String.Backtick */
.codehilite .sc { color: #afffd7 } /* Literal.String.Char */
.codehilite .dl { color: #afffd7 } /* Literal.String.Delimiter */
.codehilite .sd { color: #afffd7 } /* Literal.String.Doc */
.codehilite .s2 { color: #afffd7 } /* Literal.String.Double */
.codehilite .se { color: #afffd7 } /* Literal.String.Escape */
.codehilite .sh { color: #afffd7 } /* Literal.String.Heredoc */
.codehilite .si { color: #ffffff } /* Literal.String.Interpol */
.codehilite .sx { color: #afffd7 } /* Literal.String.Other */
.codehilite .sr { color: #afffd7 } /* Literal.String.Regex */
.codehilite .s1 { color: #afffd7 } /* Literal.String.Single */
.codehilite .ss { color: #afffd7 } /* Literal.String.Symbol */
.codehilite .bp { color: #00ffaf } /* Name.Builtin.Pseudo */
.codehilite .fm { color: #ff87d7 } /* Name.Function.Magic */
.codehilite .vc { color: #ff87d7 } /* Name.Variable.Class */
.codehilite .vg { color: #ff87d7 } /* Name.Variable.Global */
.codehilite .vi { color: #ff87d7 } /* Name.Variable.Instance */
.codehilite .vm { color: #ff87d7 } /* Name.Variable.Magic */
.codehilite .il { color: #afffd7 } /* Literal.Number.Integer.Long */
